Source: multiflexi-scheduler
Section: admin
Priority: optional
Maintainer: Vítězslav Dvořák <info@vitexsoftware.cz>
Build-Depends:
 debhelper-compat (= 13),
 jq,
 moreutils
Standards-Version: 4.7.0
Homepage: https://multiflexi.eu
Rules-Requires-Root: no
Vcs-Git: https://github.com/VitexSoftware/multiflexi-scheduler.git
Vcs-Browser: https://github.com/VitexSoftware/multiflexi-scheduler

Package: multiflexi-scheduler
Architecture: any
Multi-Arch: foreign
Depends:
 ${misc:Depends},
 ${shlibs:Depends},
 multiflexi-sqlite (>= 2.4.1) | multiflexi-database (>= 2.4.1),
 php-vitexsoftware-multiflexi-core
Description: Schedule MultiFlexi jobs
 MultiFlexi Scheduler automates and manages MultiFlexi job scheduling.
 It enables users to define, queue, and execute tasks flexibly and efficiently,
 supporting integration with various backends and databases. The scheduler
 is suitable for environments where reliable and customizable job execution is
 required, providing logging, error handling, and monitoring capabilities to
 ensure smooth operation of scheduled processes.
