[Unit]
Description=MultiFlexi Scheduler
After=network-online.target
Wants=network-online.target
StartLimitIntervalSec=120s
StartLimitBurst=5

[Service]
User=multiflexi
Group=multiflexi
EnvironmentFile=/etc/multiflexi/multiflexi.env
ExecStart=/usr/bin/php /usr/lib/multiflexi-scheduler/daemon.php
LimitNOFILE=8192:16384
Type=simple
Restart=on-failure
RestartSec=15s

[Install]
WantedBy=multi-user.target
